@media(hover: hover){
    .page-container{
        display: flex;
        /* width: 300%; */
        height: 100%;
        flex-direction: row;
        position: absolute;
        /* z-index: 1; */
    }
    
    #page1{
        display: flex;
        /* flex-grow: 1; */
        width: 100vw; 
        justify-content: center;
        align-items: center;
        background-color:black;
        /* flex-wrap: wrap; */
        flex-direction: row;
    }
    
    #page2{
        /* flex-grow: 1; */
        width: 200vw;
        background-color: black;
        display: flex;
    }

    #page3{
        /* flex-grow: 1; */
        width: 105vw;
        background-color: #CFA289;
    }
    
    #left, #center, #right{
        display: flex;
        flex-grow: 1;
        height: 100%;
    }
    
    #left, #right{
        width: 20%;
    }
        
    #subtitle{
        flex-grow: 1;
        font-family: 'lora', serif;
        font-size: max(15px, 1vw);
        line-height : 1.2;
        color: white;
        /* transform: translate(-5vw, 0); */
        text-align: right;
        align-self: center;
        margin-right: 5vw;
    }

    #subtitle:hover span {
        display: none
    }

    #subtitle:hover:after {
        content:"yeet";
        text-align: right;
        color: #CFA289;
    }

    #clock{
        flex-grow: 1;
        font-family: 'Aleo', serif;
        color: #D8BF4D;
        font-size: max(12px, 0.75vw);
        text-align: left;
        font-weight: normal;
        align-self: start;
        transform: translate(20px, 20px);
    }
    
    #title_container{
        width: 100%;
        /* height: 100%; */
        position: relative;
        text-align: center;
        /* margin-top: max(0, 50%); */
        align-self: center;
        /* opacity: 0; */
    }
    
    #stairs_pic{
        /* position: absolute; */
        width: max(100px, 22vw);
        align-content: center;
        /* transform: translateY(25%); */
        opacity: 0.5;
        margin: 0 0 0 0;
        /* z-index: 2; */
    }

    #title{
        /* flex-grow: 1; */
        /* position: relative; */
        position: absolute;
        font-family: 'Playfair Display', serif;
        font-weight: normal;
        font-size: max(25px, 5vw);
        margin: 0 0 0 0;
        bottom: 25%;
        left: -20%;
        /* margin-right: 3vw; */
        color:white;
        text-align: center;
        /* align-self: center; */
        /* transform: translateY(-125%); */
        /* z-index: 1; */
        
    }
    
    #about_me{
        width: 20%;
        color: white;
        /* transform: translate(20%, 50%); */
        align-self: center;
        font-size: max(6px, 0.8vw);
        margin-left: 10vw;
        flex-shrink: 0;
        font-family: 'Lora';
        width: 10%;
    }
    
    #project_start_date{
        color:white;
        font-family: 'Lora';
        font-size: max(13px, 3vw);
        font-weight: 400;
        /* transform: translate(700pt, -50pt); */
        align-self: center;
        margin-left: 20vw;
        width: max(250pt, 20vw);
        margin-bottom: 10vh;
        /* flex-grow: 0; */
    }
    
    #project_start{
        color: white;
        font-family: 'Lora';
        font-size: max(8px, 0.85vw);
        font-weight: 400;
        /* transform: translate(90%, -180%); */
        align-self: center;
        margin-top: 10vw;
        margin-bottom: 10vh;
    }

    #project_link{
        color:white;
        text-align: right;
        font-family: "Lora";
        align-self: center;
        margin-top: 5vw;
        /* margin-left: 40vw; */
        font-size: max(8px, 0.85vw);
    }

    #project_link Link{
        color:white;
        text-align: right;
        font-family: "Lora";
    }

    #moon_container{
        align-self: center;
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 80%;
    }

    #moon_pic {
        align-self: center;
        max-width: 40%;
        height: auto;
        margin-left: 50%;
    }

    .lines hr{
        width: 50vw;
        border-color: #CFA289;
        position: absolute;
        bottom: 20%;
        border-width: 1px;
    }

    .lines hr:nth-child(1)
    {
        right: -20%;
    }

    .lines hr:nth-child(2)
    {
        right: -100%;
    }

    .lines hr:nth-child(3)
    {
        width: 30vw;
        right: -180%;
    }

    .dots span{
        background-color: #CFA289;
        position: absolute;
        bottom: calc(20% + 6px);
        border-radius: 100%;
        width: 5px;
        height: 5px;
    }

    .dots span:nth-child(1){
        right: 35%;
    }

    .dots span:nth-child(2){
        right: 37%;
    }

    .dots span:nth-child(3){
        right: -105%;
    }
}
