$title-font: "Playfair Display";
$subtitle-font: "Lora", sans-serif;

html, body{
    font-family: $subtitle-font;
    font-size: 16px;
}

header{
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10; 
    right: 0;
    .inner-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        margin-right: 10%;
        margin-left: 10%;
        border-bottom: 1px solid black;
        .logo{
            a{
                font-family: $subtitle-font;
                text-decoration: none;
                color: black;
            }
            a:active, a:hover{
                color: red;
            }
        }
        .contacts{
            a{
                margin: 0 20px;
                font-family: $subtitle-font;
                text-decoration: none;
                color: black;
                &:last-child{
                    margin-right: 0px;
                }
            }
            a:active, a:hover{
                color: red;
            }
        }
    }
}

.navigation{
    nav{
        position: absolute;
        bottom: 20%;
        margin-left: 10%;
        z-index: 10;
        a:active, a:hover{
            color: red;
        }
        a{
            color: black;
            font-family: $subtitle-font;
            text-decoration: none;
            display: block;
            margin-bottom: 15px;
        }
    }
}

.intro{
    p{
        position: absolute;
        font-family: $subtitle-font;
        bottom: 50%;
        left: 15%;
    }
    
}

mark.red{
    color: red;
    background: none;
}