html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Aleo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-image: linear-gradient(to right bottom, #133043, #124B70);
}

#title {
  align-items: center;
  flex-grow: 1;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  font-weight: normal;
  margin-left: 50px;
}

#subtitle {
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  font-family: 'Aleo', serif;
  font-size: 27px;
  font-weight: lighter;
  text-align: right;
  margin-right: 100px;
}


div {
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
